PORT=8080
SERVER_SERVLET_CONTEXT_PATH=/system/api

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5436/ahorra_tank
SPRING_DATASOURCE_USERNAME=ahorra
SPRING_DATASOURCE_PASSWORD=ahorra123

APP_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://10.0.2.2:5173
JWT_SECRET=95967fb15ab686235c2720414c15e2d2174b6bb79cf80c3a217164d63b85ef15
